name: Cross-Platform Go Build

on:
  push:
    branches: ["main"]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        arch: [amd64, arm64]
        include:
          - os: macos-latest
            arch: amd64
          - os: macos-latest
            arch: arm64
          - os: windows-latest
            arch: amd64
          - os: windows-latest
            arch: arm64
          - os: ubuntu-latest
            arch: amd64
          - os: ubuntu-latest
            arch: arm64
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"

      - name: Set environment variables
        run: |
          if [[ "${{ runner.os }}" == "Linux" ]]; then
            echo "GOOS=linux" >> $GITHUB_ENV
          elif [[ "${{ runner.os }}" == "macOS" ]]; then
            echo "GOOS=darwin" >> $GITHUB_ENV
          else
            echo "GOOS=windows" >> $GITHUB_ENV
          fi
          echo "GOARCH=${{ matrix.arch }}" >> $GITHUB_ENV
        shell: bash

      - name: Install dependencies
        run: go mod tidy && go mod download

      - name: Build artifact
        run: go build -o checkhost-${{ env.GOOS }}-${{ env.GOARCH }} -v

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: checkhost-${{ env.GOOS }}-${{ env.GOARCH }}
          path: checkhost-${{ env.GOOS }}-${{ env.GOARCH }}
